body {
    background: #348F50;
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    background: linear-gradient(to right, #56B4D3, #348F50);
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}

button {
    border-radius: 5px;
}

body h1 {
    color: white;
    margin-left: 2rem;
}

/* p{
    justify-self: center;
} */






.gal-container {
    margin-top: 6rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-wrap: wrap;
}

.gall-pic {
    height: 14rem;
    width: 15rem;
    filter: grayscale(100%);
    transition-duration: 0.5s;
    border-radius: 15px;
    border: 1px solid transparent;
    box-shadow: 10px 9px 5px 1px rgb(64 60 67 / 16%);
}

.gall-pic:hover {
    filter: none;
}

.gal-btn {
    margin: 0 auto;
    background-color: transparent;
    border: none;
}

.quick-search {
    border: 1px solid transparent;
    box-shadow: 13px 9px 5px 1px rgb(64 60 67 / 16%);
    width: 22rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 10px;
}

/*Canvas+ControlBox*/
.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#canvas {
    margin-left: 2rem;
    border-radius: 8px;
}

.can-edi {
    margin-top: 6rem;
    text-align: center;
    display: none;
}

/* CONTROL BOX */
.control-box label {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

#palette {
    margin-top: 1rem;
}

.control-box input {
    display: block;
    height: 2rem;
    width: 3rem;
    margin: 0 auto;
}

.control-box .text {
    width: 13rem;
    margin: 0 auto;
}

.control-box button {
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 10px 9px 5px 1px rgb(64 60 67 / 16%);
}

.control-box .inc-dec-con button {
    height: 3rem;
    width: 3rem;
    font-size: larger;
}

.control-box .side-text {
    width: 3rem;
    height: 3rem;
    /* padding: 0; */
}

.control-box .side-text p {
    margin: 0 auto;
}

.switch-line {
    font-size: large;
    height: 4rem;
    width: 4rem;
    /* display: block; */
    margin: 0 auto;
}

.switch-line p {
    margin: 0 auto;
}

.control-box .lst-btn {
    height: 3rem;
    width: 3rem;
    font-size: xx-large;
}

.control-box .input-color {
    visibility: hidden;
    width: 0;
    height: 0;
}

#file {
    visibility: hidden;
    width: 0;
    height: 0;
}

#upload-btn {
    /* display: block; */
    align-self: center;
    margin-top: 2rem;
    width: 6rem;
    font-size: large;
}

/* NAV BAR */
.main-nav {
    border-radius: 20px;
    z-index: 1;
    background: linear-gradient(.25turn, #105e08, #dce3e3);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-nav button {
    /* display: inline; */
    height: 100%;
    width: 5rem;
    color: green;
    font-weight: 600;
}


.main-nav div:last-child {
    margin-right: 2.5rem;
}


/* GALLARY */
.btn-srch {
    height: 6rem;
    width: 10rem;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.key-words {
    flex-wrap: wrap;
    text-align: center;
    height: 5rem;
    width: 100%;
    display: none;
}

.key-btn {
    width: fit-content;
    height: fit-content;
    margin: 0.5rem;
    background-color: #4CAF50;
    /* Green */
    border-radius: 15px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* FOOTER */
footer {
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h1 {
    margin: 0 auto
}

footer p {
    color: whitesmoke;

}